# Configurações do Banco de Dados
DATABASE_URL=postgresql://postgres:testpass@hoppscotch-db:5432/hoppscotch?connect_timeout=300

# Configurações da Aplicação
PORT=8080
PRODUCTION=true
HOPP_ALLOW_RUNTIME_ENV=true

# Configurações de Autenticação (opcional)
# AUTH_SECRET=seu_segredo_aqui
# GOOGLE_CLIENT_ID=seu_client_id_google
# GOOGLE_CLIENT_SECRET=seu_client_secret_google
# GITHUB_CLIENT_ID=seu_client_id_github
# GITHUB_CLIENT_SECRET=seu_client_secret_github

# Configurações de Email (opcional)
# MAILER_HOST=smtp.example.com
# MAILER_PORT=587
# MAILER_USER=seu_usuario
# MAILER_PASS=sua_senha
# MAILER_FROM=noreply@example.com

# Configurações de Subpath (opcional)
# ENABLE_SUBPATH_BASED_ACCESS=true

# Configurações do Frontend
VITE_BACKEND_API_URL=http://localhost:3170
VITE_ADMIN_URL=http://localhost:3100
VITE_APP_URL=http://localhost:3000

# Configurações para Desenvolvimento
# NODE_ENV=development
